{% extends 'base/principal.html' %}

{% block content %}

<h1>Hola {{ request.user|title }}</h1>
<h3>Tienes <i>{{ count }}</i> tarea{{ count|pluralize }} incompleta{{ count|pluralize }}</h3>

{% if request.user.is_authenticated %}
    <p>{{ request.user }}</p>
    <form action="{% url 'logout' %}" method="POST">
        {% csrf_token %}
        <button type="submit">Salir</button>
    </form>
{% else %}
    <a href="{% url 'login' %}">Ingresar</a>
{% endif %}

<p></p>

<form method="GET">
    <input type="text" name="area-buscar" value="{{ valor_buscado }}">
    <input type="submit" value="buscar">
</form>
<a href="{% url 'crear-tarea' %}"><p>Crear tarea</p></a>

{% for tarea in tareas %}
    {% if tarea.completo %}
        <li>
            <s><a href="{% url 'editar-tarea' tarea.id %}">{{ tarea }}</a></s>
        </li>
    {% else %}
        <li>
            <a href="{% url 'editar-tarea' tarea.id %}">{{ tarea }}</a>
        </li>
    {% endif %}
    <a href="{% url 'eliminar-tarea' tarea.id %}">Eliminar</a>
{% empty %}
    <h3>No hay elementos en esta lista</h3>
{% endfor %}

{% endblock content %}
